body {
  background-color: bisque;
  padding: 20px;
  border: black solid 2px;
}

.hobbies,
.dislikes {
  display: inline-block;
  width: 400px;
  height: 200px;
  padding: 20px;
  vertical-align: top;
}

.hobbies {
  border: black solid 2px;
  background-color: rgb(38, 158, 202);
  margin-right: 20px;
}

.dislikes {
  border: black solid 2px;
  background-color: rgb(230, 13, 13);
}

#location {
  width: 40px;
  height: 30px;
  margin-left: 10px;
}

#football {
  width: 50px;
  margin-left: 10px;
}

.about {
  border: black solid 2px;
  padding: 20px;
}

.bold-word {
  font-weight: bold;
}

li {
  margin: 10px;
}

